<h2 class="text-center">Gallery</h2>
<ul class="gallery">
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-1.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-2.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-3.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-4.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-5.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-6.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-7.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-8.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-9.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-10.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-2.jpg" alt="">
        </a>
    </li>
    <li class="col-sm-3 col-xs-6">
        <a href="javascript:void(0);" data-bind="click:gotoImage">
            <img src="http://lorempixel.com/image_output/food-q-c-640-480-3.jpg" alt="">
        </a>
    </li>
</ul>

